.ctn-pageLogin{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;   
    align-items: center;
    background: #E6E6E6;
}

.ctn-login{
    height: 500px;
    width: 900px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 4px 8px 0px grey, 0px 6px 20px 0px grey;

}

.ctn-form{
    height: 100%;
    width: 50%;
    background-image: linear-gradient(#00BFFF, #045FB4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ctn-form h1{
    color: #FFFFFF;
    margin-bottom: 20px;
    
}

.ctn-form input{
    width: 300px;
    height: 35px;
    margin-top: 20px;
    text-align: center;
    border-radius: 25px;
    border: none;
    font-weight: bold;

}

.ctn-form button{  
    width: 300px;
    height: 35px;
    margin-top: 30px;
    text-align: center;
    border-radius: 25px;
    background: #00CD66;
    border: none;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 1rem;
    
}

.ctn-form button:hover{
    background: #04B404;

}

.ctn-info{
    height: 100%;
    width: 50%;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-falho p{
    display: flex;
    color: rgb(245, 210, 11);
    font-weight: bold;
    font-size: 1.2rem;
}

.display-none p{
    display: none;
}

.ctn-info img{
    height: 70%;
}
