.ctn-menu{
    width: 250px;

  
    display: flex;
    flex-direction: column;
    background: #0080FF;
}

.ctn-menu .cnt-image{
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.ctn-menu .cnt-image img{
    border-radius: 50%;
    background:#1b47da;
    height: 90%;
    width: 90%;
}

.menu-item{
    height: 40px;
    width: auto;
    background: none;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    text-align: start;
}

.menu-item a{
    width: 100%;
    color: #ffffff;
    flex-direction: row;
    text-decoration: none;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    text-indent: 25px;
}

.menu-item a:hover{
    background: #045FB4;
}

.display-none{
    display: none;
  }